body {
 background-color: rgb(91, 225, 97);
}
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}
h2,h3,h4{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(245, 108, 53);
}
#Decrease{
background-color: rgb(244, 131, 131);
padding: 5px;
border: 2px;
border-radius: 5px;
}
#Increase{
  background-color: rgb(65, 144, 240);
  padding: 5px;
  border: 2px;
  border-radius: 5px;
  }
  #Reset{
    background-color: rgb(246, 6, 6);
    padding: 5px;
    border: 2px;
    border-radius: 5px;
    }